@page
@model GtopPdqNet.Pages.AccessDeniedModel
@{    ViewData["Title"] = "Acesso Negado";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Você não tem permissão para acessar este recurso.</p>
</header>

<p>
    Se você acredita que deveria ter acesso, por favor, entre em contato com o administrador do sistema.
</p>
<p>
    <a asp-page="/Index">Voltar para a página inicial</a>
</p>

